<h2>Welcome Human Person</h2>
<h3>Login so we know you are a person<h3>
<hr />

<% if @people.any? %>
  <ul>
    <% @people.each do |person| %>
      <li>
        <%= link_to person.name, person_path(person) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h4>No people found, please create one</h4>
<% end %>

<br />
<%= link_to 'New Person', new_person_path %>
